body {
    background: #352f5b;
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
  }

  input[type="text"],
  input[type="text"]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }
  .todos li {
    background: #423a6f;
    color: #fff;
    
  }
  
  .delete {
    cursor: pointer;
  }
  
  .filtered {
    display: none !important;
  }
  
  .btn:hover {
    background: #423a6f;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 13px 13px;
    transition: 0.8s;
  }
  